.file-upload {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}
.file-input {
  height: 40px;
  width: 230px;
  border-radius: 3px;
  border: 1px solid #354f52;
  padding: 7px 10px;
  font-size: 15px;
  background-color: #dad7cd;
  margin-bottom: 20px;
}
.file-upload-btn {
  margin: auto;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #354f52;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &:hover {
    background-color: #354f52;
    color: white;
  }
}
